<div class="container">
  <div class="jumbotron">
    <p class="display-4 text-center lead">Nueva cuenta Nutriólogo</p>
    <hr class="my-4">
    <form [formGroup]="newNutriologo" (ngSubmit)="savedNutriologo()">
      <p class="display-8">Datos del Nutriólogo</p>
      <div class="form-group row ">
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="Nombre Completo" formControlName="name">
        </div>
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="Dirección particular" formControlName="address">
        </div>
        <div class="col-sm-12 mb-1">
          <input type="tel" class="form-control" placeholder="Cédula profesinal" formControlName="identificationCard">
        </div>
      </div>
      <div class="form-group row ">
        <div class="col-sm-6 mb-1">
          <label>Fecha de nacimiento</label>
          <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="birthday">
        </div>
        <div class="col-sm-6 mb-1">
          <label>Sexo</label>
          <select class="form-control" formControlName="sex">
            <option>Mujer</option>
            <option>Hombre</option>
            <option>Prefiero no especificar </option>
          </select>
        </div>
      </div>
      <p class="display-8">Credenciales de acceso</p>
      <div class="form-group row ">
        <div class="col-sm-6 mb-1">
          <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email">
        </div>
        <div class="col-sm-6 mb-1">
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
        </div>
      </div>
      <p class="display-8">Datos de la clínica</p>
      <div class="form-group row ">
        <div class="col-sm-6 mb-1">
          <input type="text" class="form-control" placeholder="Nombre de la clínica" formControlName="clinicName">
        </div>
        <div class="col-sm-6 mb-1">
          <input type="tel" class="form-control" placeholder="Teléfono o celular de la clínica"
            formControlName="telephone">
        </div>
        <div class="col-sm-12 mb-1">
          <input type="text" class="form-control" placeholder="Dirección de la clínica" formControlName="addressClinic">
        </div>
      </div>


      <div class="d-flex">
        <a class="btn btn-danger btn-lg" routerLink="">Cancelar</a>
        <button class="btn btn-primary btn-lg ml-auto" type="submit" [disabled]="!newNutriologo.valid">Crear
          cuenta</button>
      </div>
    </form>
  </div>
</div>
